## Importing models

In [1]:
import pandas as pd
import numpy as np
import openpyxl
import xlwt
from openpyxl import load_workbook

Run the bat file

In [5]:
import subprocess

subprocess.run([r"C:\Users\ukt430\Documents\GitHub\automation-IBM-Cognos-Analytics\p.bat"])

## Importing data

In [40]:
df = pd.read_excel("RÃ©ception Management Rapport - Mois (33).xlsx",header=None)

In [41]:
dff = pd.read_csv('file_list - Copy - Copy.csv',header=None)

## Data processing

In [42]:
def data_processing(data,column,name,number,cols):
    a = data.rename(columns = {column:name})# renaming the columns
    rows = a.drop(range(number),axis = 0,inplace = True)# dropping rows
    col = a.drop(cols,axis=1,inplace = True)# dropping columns 
    df = a 

    return df

In [43]:
df = data_processing(df,0,"ASN",14,[1,2,3,4,5,6,7,8,9,10])
df.head()

           ASN
14   249900294
15   249900293
16    24R21858
17  0240600687
18   24R198658

In [44]:
dff = pd.read_csv('file_list - Copy - Copy.csv',header=None)

In [45]:
def processing_data(data,column,name,cols):
    a = data[0].str.split('_',expand=True)
    b = a.rename(columns = {column:name})# renaming the columns
    #rows = b.drop(range(number),axis = 0,inplace = True)# dropping rows
    col = b.drop(cols,axis=1,inplace = True)# dropping columns 
    
    return b

In [46]:
dff = processing_data(dff,2,"ASN",[0,1,3,4,5,6,7,8])

## Extracting ASNs

#### M1

In [47]:
def uncommon_values(set1,set2):
    df_asn = set1['ASN'].values.tolist()
    df_monitor =set2["ASN"].values.tolist()
    asn = set(df_asn)
    monitor = set(df_monitor)
    temp1 = []
    for i in asn:
        if i not in monitor:
            temp1.append(i)
    with open("file.txt","w") as output:
        output.write(str(temp1))
    print(f"The ASNs that have not been retriggered :"+ str(temp1))
uncommon_values(df,dff)

The ASNs that have not been retriggered :['24R47806', '0240600449', '0240600362', '24R12032', '24R2726', '0240600849', '0240600848', '0240600505', '24R5630', '0240600341', '0240600165', '0240600687', '0240600506', '0240601133']

#### M2

In [48]:
def values(set1,set2):
    df_asn = df['ASN'].values.tolist()
    df_monitor = dff['ASN'].values.tolist()
    temp1 =  [x for x in set(df_asn) if x not in set(df_monitor)]
    return print(temp1)
values(df,dff)

['24R47806', '0240600449', '0240600362', '24R12032', '24R2726', '0240600849', '0240600848', '0240600505', '24R5630', '0240600341', '0240600165', '0240600687', '0240600506', '0240601133']

#### Convert string to num

In [28]:
ASN = load_workbook('asn.xlsx')
Monitor = load_workbook('Monitor.xlsx')

In [29]:
asn_sheet = ASN['Sheet1']
Monitor_sheet = Monitor['Sheet1']

In [30]:
def covnvert_column_to_number(file_path,sheet_name,column_index):
    try:
        wb = load_workbook(file_path)
        sheet = wb[sheet_name]
        for row in sheet.iter_rows(min_row=1,min_col=column_index,max_col=column_index):
            for cell in row:
                try:
                    cell.value = int(cell.value)
                except (TypeError,ValueError):
                    pass
                wb.save(file_path)
                print('successful')
    except  Exception as e:
        print('error')

In [33]:
file_path = 'asn.xlsx'
sheet_name = "Sheet1"
column_index = 0


df = covnvert_column_to_number(file_path,sheet_name,column_index)

successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful

In [34]:
file_path = 'Monitor.xlsx'
sheet_name = "Sheet1"
column_index = 0


dff = covnvert_column_to_number(file_path,sheet_name,column_index)

successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful
successful